@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import "compass/css3";


body {
  background-color: #000000;
  background-image: linear-gradient(to right, #000000 , #000000 , #000000);
  font-family: 'Comfortaa', 'Almarai', ' cursive ';
  text-align: center;
  direction: rtl;
  margin: 0;
}

video {
object-fit: fill;
}

.spacer { padding: 1px; }

h2 {
direction: rtl;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    background-image: linear-gradient(to right, #990000, #990000);
    padding: 0px 0px 0px 0px;
    border-bottom: 0px solid #0c0c0c;
    margin: 0px;
    font-family: 'Comfortaa', 'Almarai', ' cursive ';
}

h3 {
direction: rtl;
    font-size: 18px;
    line-height: 30px;
    color: #FFF;
    
    padding: 0px 0px 0px 0px;
    border-bottom: 0px solid #0c0c0c;
    margin: 0px;
    font-family: 'Comfortaa', 'Almarai', ' cursive ';
}

h4 {
    color: #fff;
    margin-block-start: 0.4em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.buttonSpan {
	font-size: 15px;
	padding: 0px;
	vertical-align: middle;
    font-family: 'Readex Pro', sans-serif;
}


blockquote {
  background: #f9f9f9;
  border-right: 10px solid #800000;
  margin: 1.5em 10px;
  padding: 1em 15px;
  quotes: "\201C""\201D""\2018""\2019";
  text-align: justify;
  line-height: 1.5em;
  color: #000000;
  border-radius: 20px 15px 15px 0px;

}

blockquote:before {
  color: #800000;
  content: open-quote;
  font-size: 5em;
  margin-left: 0.25em;
  vertical-align: -0.3em;
      line-height: 0.1em;
}

blockquote p {
  display: inline;
}

#urlArea {
    display:none;

}

#urlButton {
    color: #000000;
    background-image: linear-gradient(to right, #FFFFFF, #800000);
    border: 3px solid #000000;
    padding: 3px;
    width: 86px;
    margin: 0px 0px;
    font-size: 18px;
    border-radius: 15px ;
    border-left: 0px solid #000000;

}

#urlButton:hover {
    color: #fff;
    background: #210f80;
}

#urlButton:focus {
    color: #000;
    background: #fbd034;
}

#ExoPlayer {
	padding: 0 0;
	display: inline-block;
}



#ExoPlayer:focus { outline: none; }

#player {
	z-index: 150;
	margin: 0px;
}


nonono {
display: none;
}

.vjs-default-skin .vjs-big-play-button {
display: none;
}
